.certs-container
  .cert-container
    h1.bg-green-gradient Certified Personal Trainer
    if (user.certs.cpt.score > 0)
      p High Score: #{user.certs.cpt.score}
    else
      p You haven't taken the CPT Exam yet.  Click to start now.
    input(type='submit', onclick="window.open('/user/cpt');", value='Start CPT Exam', class='btn-custom bg-green-gradient')
  .cert-container
    h1.bg-red-gradient Certified Master Trainer
    if (user.certs.cmt.score > 0)
      p High Score: #{user.certs.cmt.score}
    else
      p You haven't taken the CMT Exam yet.  Click to start now.
    input(type='submit', onclick="window.open('/user/cmt');", value='Start CMT Exam', class='btn-custom bg-red-gradient')
  .cert-container
    h1.bg-blue-gradient Certified Nutrition Specialist
    if (user.certs.cns.attempts.length > 0)
      p #[span(class='fa fa-arrow-circle-up')]  High Score: #{user.certs.cns.score}
      if (user.certs.cns.passed == true)
        p #[span(class='fa fa-file-text')] Passed Exam: #[span(class='fa fa-check-circle-o')]
      else
        p #[span(class='fa fa-file-text')] Passed Exam: #[span(class='fa fa-times')]
      p #[span(class='fa fa-calendar-check-o')] Date Passed: #{user.certs.cns.passed_on}
      p #[span(class='fa fa-repeat')] Attempts: #{user.certs.cns.attempts.length}
      p #[span(class='fa fa-key')] Verification_ID: #{user.certs.cns.verify_id}
    else
      p You haven't taken the CNS Exam yet.  Click to start now.
    input(type='submit', onclick="window.open('/user/cns');", value='Start CNS Exam', class='btn-custom bg-blue-gradient')
