extends layout

block content
  .container-fluid.bg-grey-seal
    .width900
      .page-header
        h1.orange Certification Price Comparison
      table.comp-table
        thead
          tr
            td.comp-table-h(colspan="7").
              Fitness Certification Price Comparison
        tfoot
          tr
            td.comp-table-f(colspan="7").
              -- Competitor pricing may change without our notice.  All prices
              are updated quarterly to ensure accuracy--
        tbody
          tr
            td.comp-table-d.green Certification
            td.comp-table-d.orange PTU
            td.comp-table-d NSCA
            td.comp-table-d NASM
            td.comp-table-d ASFA
            td.comp-table-d ACE
            td.comp-table-d ACSM
          tr
            td.comp-table-d Personal Trainer
            td.comp-table-d.orange $99
            td.comp-table-d $435
            td.comp-table-d $599
            td.comp-table-d $499
            td.comp-table-d $599
            td.comp-table-d $279
          tr
            td.comp-table-d Master Trainer
            td.comp-table-d.orange $149
            td.comp-table-d N/A
            td.comp-table-d N/A
            td.comp-table-d $699
            td.comp-table-d N/A
            td.comp-table-d N/A
          tr
            td.comp-table-d Nutrition Specialist
            td.comp-table-d.orange $99
            td.comp-table-d N/A
            td.comp-table-d $449
            td.comp-table-d $299
            td.comp-table-d $399
            td.comp-table-d N/A

      .welcome-message
        .width300
          form(action="/signup", method="get")
            .form-group
                button.btn.btn-custom-home(type="submit")
                  | Get Started

      h3.orange How do we keep our prices low?
      p.
        We don't think a personal trainer's resume and marketability should
        be limited by their bank account and socioeconomic status. From the
        beginning, PT University has made providing fitness certifications 
        that anyone can afford a primary focus of our business.  We are able 
        to offer the most competitive pricing model in the fitness industry by
        limiting our expenses in a few key ways:
      ol
        li
          p.
            <span style="color:#ff851b">We don't send paper copies through the mail.</span> 
            Postage, paper, ink, printers, copiers, etc. cost a lot of money. Our 
            expenses for paper are essentially zero! 
            #[a(href="http://www.greenpeace.org/usa/", target='_blank', class="green link-blue-hov") Go Green].
        li
          p.
            <span style="color:#ff851b">We don't pay for advertising.</span> Our only advertising
            is word of mouth from satisfied customers.
        li
          p.
            <span style="color:#ff851b">We don't offer live testing</span>.  We don't have live 
            seminars, classes, testing centers, instructor salaries, etc.
            100% of our testing is online.
        //li
          p.
            <strong>Donations.</strong> We accept small donations from
            those that would like to help the cause. Most donations we receive
            are less than $10. If you would like to help support PT University,
            feel free to throw a few bucks our way. If not, we completely
            understand.
        //form(method='POST', action="account/payment")
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='certType', value='Certified Personal Trainer')
          input(type='hidden', name='price', value='9900')
          script(
          src='https://checkout.stripe.com/checkout.js',
          class='stripe-button',
          data-key=publishableKey,
          data-image='/images/ptStripeLogo.png',
          data-name='PT University',
          data-description='CPT Certification ($99)',
          data-amount='9900')
        //form(class='orange', method='POST', action="account/payment").
          amount $
          #[input#donation_amount(type='number', class='bg-navy-gradient orange', min='1', max='10000', step='1', name='donation_amount', required='required') ]
        //button#customButton.btn.btn-custom Donate
  //script(src='https://checkout.stripe.com/checkout.js')
  //script(src='js/main.js')
