extends layout

block content
  .verified-container
    //if (cert.paid == true)
    h4 PT University certification info for #[strong() #{username}]
    h4 Certification: #[strong() #{cert.title}]
    h5 Verification ID: #[strong() #{cert.verify_id}]
      if (cert.passed == true)
        h4.green Score: #[strong() #{cert.score}]
        h4.green Passed Exam: #[span(class='fa fa-check-circle-o')]
        h4.green Date Passed: #[strong() #{cert.passed_on}]
      else
        h4.red Score: #[strong() #{cert.score}]
        h4.red Passed exam: #[span(class='fa fa-times')]
    //else
      h4.red #{username}'s account is not current.
      h4 Please contact #[a(href='/support') support] for more information.
  if (certImg == 'cpt' && cert.passed == true && cert.paid == true)
    .cert-img-container
      img.cert-img(src='/images/cpt_cert.png')
      #nameOnCert #{username}
  if (certImg == 'cmt' && cert.passed == true && cert.paid == true)
    .cert-img-container
      img.cert-img(src='/images/cmt_cert.png')
      #nameOnCert #{username}
  if (certImg == 'cns' && cert.passed == true && cert.paid == true)
    .cert-img-container
      img.cert-img(src='/images/cns_cert.png')
      #nameOnCert #{username}
