.certs-container

  .cert-container
    h1.bg-green-gradient Certified Personal Trainer 
    if (user.certs.cpt.attempts.length > 0)
      p #[span(class='fa fa-arrow-circle-up')]  High Score: #{user.certs.cpt.score}
      if (user.certs.cpt.passed == true)
        p #[span(class='fa fa-file-text')] Passed Exam: #[span(class='fa fa-check-circle-o green')]
      else
        p #[span(class='fa fa-file-text')] Passed Exam: #[span(class='fa fa-times red')]
      p #[span(class='fa fa-calendar-check-o')] Date Passed: #{user.certs.cpt.passed_on}
      p #[span(class='fa fa-repeat')] Attempts: #{user.certs.cpt.attempts.length}
      if (user.certs.cpt.paid == true)
        p #[span(class='fa fa-credit-card-alt')] Payment Received: #[span(class='fa fa-check-circle-o green')]
        p #[span(class='fa fa-key')] Verification_ID: #{user.certs.cpt.verify_id}
      else
        p #[span(class='fa fa-credit-card-alt')] Payment Received: #[span(class='fa fa-times red')]
        p Pay for your certification to receive your Certification and Verification ID
        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='BDS43QBCALSZ4')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1') 
        form(action='/user/payment', method='get')
          input(type='submit', value='Pay for CPT Certification', class='btn-custom bg-green-gradient')
    else
      p You haven't taken the CPT Exam yet.  Click to start now.
    form(action='/user/cpt', target='_blank')
      input(type='submit', value='Start CPT Exam', class='btn-custom bg-green-gradient')

  .cert-container
    h1.bg-red-gradient Certified Master Trainer
    if (user.certs.cmt.attempts.length > 0)
      p #[span(class='fa fa-arrow-circle-up')]  High Score: #{user.certs.cmt.score}
      if (user.certs.cmt.passed == true)
        p #[span(class='fa fa-file-text')] Passed Exam: #[span(class='fa fa-check-circle-o green')]
      else
        p #[span(class='fa fa-file-text')] Passed Exam: #[span(class='fa fa-times red')]
      p #[span(class='fa fa-calendar-check-o')] Date Passed: #{user.certs.cmt.passed_on}
      p #[span(class='fa fa-repeat')] Attempts: #{user.certs.cmt.attempts.length}
      if (user.certs.cmt.paid == true)
        p #[span(class='fa fa-credit-card-alt')] Payment Received: #[span(class='fa fa-check-circle-o green')]
        p #[span(class='fa fa-key')] Verification_ID: #{user.certs.cmt.verify_id}
      else
        p #[span(class='fa fa-credit-card-alt')] Payment Received: #[span(class='fa fa-times red')]
        p Pay for your certification to receive your Certification and Verification ID
        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='Y793FFVBKX8HU')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
        form(action='/user/payment', method='get')
          input(type='submit', value='Pay for CMT Certification', class='btn-custom bg-red-gradient')
    else
      p You haven't taken the CMT Exam yet.  Click to start now.
    form(action='/user/cmt', target='_blank')
      input(type='submit', value='Start CMT Exam', class='btn-custom bg-red-gradient')

  .cert-container
    h1.bg-blue-gradient Certified Nutrition Specialist
    if (user.certs.cns.attempts.length > 0)
      p #[span(class='fa fa-arrow-circle-up')]  High Score: #{user.certs.cns.score}
      if (user.certs.cns.passed == true)
        p #[span(class='fa fa-file-text')] Passed Exam: #[span(class='fa fa-check-circle-o green')]
      else
        p #[span(class='fa fa-file-text')] Passed Exam: #[span(class='fa fa-times red')]
      p #[span(class='fa fa-calendar-check-o')] Date Passed: #{user.certs.cns.passed_on}
      p #[span(class='fa fa-repeat')] Attempts: #{user.certs.cns.attempts.length}
      if (user.certs.cns.paid == true)
        p #[span(class='fa fa-credit-card-alt')] Payment Received: #[span(class='fa fa-check-circle-o green')]
        p #[span(class='fa fa-key')] Verification_ID: #{user.certs.cns.verify_id}
      else
        p #[span(class='fa fa-credit-card-alt')] Payment Received: #[span(class='fa fa-times red')]
        p Pay for your certification to receive your Certification and Verification ID
        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='LSL5CLD3SPMLC')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
        form(action='/user/payment', method='get')
          input(type='submit', value='Pay for CNS Certification', class='btn-custom bg-blue-gradient')
    else
      p You haven't taken the CNS Exam yet.  Click to start now.
    form(action='/user/cns', target='_blank')
      input(type='submit', value='Start CNS Exam', class='btn-custom bg-blue-gradient')
