extends ../layout

block content
  .container-fluid.bg-navy-gradient
    .myQuiz(ng-controller="practiceCptCtrl")
      h1 PRACTICE CPT EXAM 
      .progress-quiz
        div(class="\
          {{ ($index === activeQuestion) ? 'on' : 'off' }}\
          {{ (myQuestion.questionState === 'answered') ? 'answered' : 'unanswered' }}\
          {{ (myQuestion.correctness === 'correct') ? 'correct' : 'incorrect' }}",
          ng-repeat="myQuestion in myQuestions")
      div(class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}")
        h2 Welcome
        p This is a practice CPT exam. Questions were 
        p taken from the real certification exam. 
        p To select an answer, click the box that 
        p contains the answer you want to select.
        hr
        p Click to start your practice exam when you are ready. 
        p.btn-quiz(ng-click="activeQuestion = 0") Start Practice CPT Exam


      .question(class="\
        {{ $index === activeQuestion ? 'active' : 'inactive' }}\
        {{ myQuestion.questionState === 'answered' ? 'answered' : 'unanswered' }}",
        ng-repeat="myQuestion in myQuestions")
        p.txt {{ myQuestion.question }}
        p.ans(ng-class="{image:Answer.image, selected:isSelected($parent.$index, $index),\
          correct:isCorrect($parent.$index, $index) }",
          ng-style="{ 'background-image':'url({{Answer.image}})'}",
          ng-click="selectAnswer($parent.$index, $index)",
          ng-repeat="Answer in myQuestions[$index].answers") {{ Answer.text }}
        .feedback 
          p(ng-show="myQuestion.correctness === 'correct'") You are #[strong() correct]
          p(ng-show="myQuestion.correctness === 'incorrect'") Oops! That is not correct
          p {{ myQuestion.feedback }}
          .btn-quiz(ng-click="selectContinue()") Continue
      .results( class=" {{ (totalQuestions === activeQuestion) ?\
        'active' : 'inactive' }} ")
        p {{ resultsMsg }}
        .form-container
          h2 Results
          form(action='/study', method='GET')
            .form-group
              label Score
              input.form-control.bg-navy-gradient(type='text', placeholder="{{percentage}}%", readonly)
              br
              label Correct / Total
              input.form-control.bg-navy-gradient(type='text',
              placeholder="{{score}} / {{totalQuestions}}", readonly)
              br
            button.btn-quiz(type='submit') Back to Study Home 

  // SCRIPTS
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
  script.
    var app = angular.module("ptuApp", []);
  script(src='js-dist/all-controllers-min.js')
